/* https://github.com/Tanbiruzzaman/afch-bnwp,translated and adapted from https://github.com/WPAFC/afch-rewrite */
//<nowiki>

<!-- main -->
<div class="review-panel initial">
	<div class="initial-header">
		<span>AFCH v<span title="{{versionName}}">{{version}}</span>&nbsp;
		(<!-- Disabled due to issue #71 <span class="feedback-wrapper"></span> | --><span class="preferences-wrapper"></span>)</span>
		"{{title}}" পর্যালোচনা
	</div>
	<div class="warnings hidden"></div>
	<div class="button-wrapper">
		{{#accept}}<a id="afchAccept" class="accept afch-button gradient-button">গ্রহণ করুন</a>{{/accept}}
		{{#decline}}<a id="afchDecline" class="decline afch-button gradient-button">প্রত্যাখ্যান করুন</a>{{/decline}}
		{{#comment}}<a id="afchComment" class="comment afch-button gradient-button">মন্তব্য রাখুন</a>{{/comment}}
		{{#submit}}<a id="afchSubmit" class="submit afch-button gradient-button">জমা দিন</a>{{/submit}}
		<a id="afchO7" class="o7 afch-button gradient-button o7-related {{^o7}}hidden{{/o7}}">Request O7 to remove quickly</a>
		<a id="afchPostponeO7" class="postpone-o7 afch-button gradient-button o7-related {{^o7}}hidden{{/o7}}">Postponed O7</a>
		<div id="afchExtra" class="extra afch-button">
			<div class="wrapper">
				<div class="open" title="See other options">«</div>
				<div class="links">
					<a id="afchClean" class="link">Maintenance Cleanup</a>
					<a id="afchMark" class="link">
						{{#alreadyUnderReview}}বাতিল করুন{{/alreadyUnderReview}}{{^alreadyUnderReview}}{{/alreadyUnderReview}}পর্যালোচনাধীন বলে চিহ্নিত করুন
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /main -->

<!-- warning-deletions-table -->
<div class="deletion-log">
	<table>
		{{#deletions}}
		<tr>
			<td class="timestamp"><span title="{{timestamp}}">{{relativeTimestamp}}</span>:</td>
			<td class="detail">
				<span class="reason">{{{reason}}}</span>
				<span class="actor">(quilt<a href="{{deletorLink}}">{{deletor}}</a>মুছে ফেলুন)</span>
			</td>
		</tr>
		{{/deletions}}
	</table>
</div>
<!-- /warning-deletions-table -->

<!-- quick-action-processing -->
<div class="review-panel {{actionClass}}">
	<div class="header">{{actionTitle}}...</div>
	<div id="afchContent" class="content centered">
		<div id="afchSubmitForm" data-running="লোডিং..." class="gradient-button button-centered {{actionClass}}">লোডিং...</div>
	</div>
</div>
<!-- /quick-action-processing -->

<!-- accept -->
<div class="review-panel accept">
	<div class="header">গ্রহণ করা হচ্ছে...</div>
	<div id="afchContent" class="content">

		<div id="newTitleWrapper">
			<label for="newTitle" class="afch-label">নতুন শিরোনাম</label>
			<input type="text" id="newTitle" class="afch-input afch-textfield" placeholder="লক্ষ্য পাতার নাম"
				{{#newTitle}}value="{{newTitle}}"{{/newTitle}} />
			<span id="titleStatus"></span>
		</div>

		<div id="assessmentWrapper">
			<label for="newAssessment" class="afch-label">মূল্যায়ন</label>
			<select id="newAssessment" class="afch-input">
				<option value="" selected></option>
				<option value="stub">ছোট</option>
				<option value="start">প্রাথমিক</option>
				<option value="C">মান সি（C）</option>
				<option value="B">মান বি（B）</option>
				<option value="list">তালিকা</option>
				<option value="disambig">দ্ব্যর্থতা</option>
				<option value="template">টেমপ্লেট</option>
				<option value="redirect">পুনঃনির্দেশ</option>
				<option value="portal">প্রবেশদ্বার</option>
				<option value="project">প্রকল্প</option>
				<option value="na">অজানা</option>
			</select>
		</div>

		{{#hasWikiProjects}}
		<div id="wikiProjectWrapper">
			<label for="newWikiProjects" class="afch-label">উইকিপ্রকল্প যোগ করুন</label>
			<select id="newWikiProjects" class="afch-input" multiple>
				{{#wikiProjects}}
				<option value="{{templateName}}">{{displayName}}</option>
				{{/wikiProjects}}
			</select>
		</div>
		{{/hasWikiProjects}}

		<div id="categoryWrapper">
			<label for="newCategories" class="afch-label">বিষয়শ্রেণী যোগ করুন</label>
			<select id="newCategories" class="afch-input" multiple>
				{{#categories}}
				<option value="{{.}}" selected>{{.}}</option>
				{{/categories}}
			</select>
		</div>

		{{#showPatrolOption}}
		<div id="patrolPageWrapper">
			<label for="patrolPage" class="afch-label">নিরীক্ষিত বলে চিহ্নিত করুন</label>
			<input type="checkbox" id="patrolPage" class="afch-input"/>
		</div>
		{{/showPatrolOption}}

		<div id="notifyWrapper">
			<label for="notifyUser" class="afch-label">জমাদানকারীকে জানান</label>
			<input type="checkbox" id="notifyUser" class="afch-input" checked/>
		</div>

		<div id="afchSubmitForm" data-running="গ্রহণ করা হচ্ছে..." class="gradient-button accept">গ্রহণ &amp; প্রকাশ</div>

	</div>
</div>
<!-- /accept -->

<!-- decline -->
<div class="review-panel decline">
	<div class="header">প্রত্যাখ্যান করা হচ্ছে...</div>
	<div id="afchContent" class="content centered">

		<fieldset id="declineRejectWrapper" class="radioContainer afch-input" name="declineReject">
			<input type="radio" id="declineRejectDecline" name="declineReject" value="decline" checked />
			<label for="declineRejectDecline"><b>মানোন্নয়ন প্রয়োজন</b> (ছোট জমা, এবং উন্নতির প্রয়োজন আছে)</label>
			&emsp;
			<input type="radio" id="declineRejectReject" name="declineReject" value="reject" />
			<label for="declineRejectReject"><b>পুনঃজমা প্রত্যাখ্যান</b> (অনুপযুক্ত বিষয়, এবং বারবার জমা দেওয়ার পরও কোনো উন্নতি দেখা যায়নি)</label>
		</fieldset>

		<div id="declineReasonWrapper">
			<select id="declineReason" class="afch-input text-left" multiple="multiple" data-placeholder="অনুগ্রহ করে ১-২ টি বিকল্প নির্বাচন করুন">
				<option value=""></option>
				<optgroup label="অন্যান্য">
					<option value="reason">নিজস্ব - নিজের বিবেচনা</option>
				</optgroup>
				<optgroup label="অনুপযুক্ত বিষয়">
					<option value="A1">নি১ - নিবন্ধের বিষয়বস্তু যাচাই করার মতো যথেষ্ট পরিমাণ লেখা নেই।</option>
					<option value="A2">বিষয়বস্তু শুধুমাত্র বহিঃসংযোগ, তথ্যসূত্র, বই উৎস, বিষয়শ্রেণী, টেমপ্লেট, এবং আন্ত-ভাষা সংযোগ এন্ট্রি (দ্ব্যর্থতা নিরসন পাতা, পুনঃনির্দেশ ব্যতীত) অন্তর্ভুক্ত）</option>
					<option value="G2">স১/স২ - কোনো প্রকৃত বিষয়বস্তু মনে হচ্ছেনা, বা পরীক্ষামূলক পাতা</option>
				</optgroup>
				<optgroup label="উল্লেখযোগ্যতা">
					<option value="N">উ - সাধারণ উল্লেখযোগ্যতা মানদণ্ড পূরণ করেনা</option>
					<option value="book">বই - উল্লেখযোগ্য বই নয়</option>
					<option value="bio">জীবনী - উল্লেখযোগ্য ব্যক্তি নয়</option>
					<option value="geo">ভূগোল - উল্লেখযোগ্য ভৌগোলিক উপাদান নয়</option>
					<option value="invalid">অবৈধ - উৎস একটি বৈধ ভূমিকা গঠন করে না</option>
				</optgroup>
				<optgroup label="অপর্যাপ্ত উৎস">
					<option value="primary">প্রাথমিক - প্রাথমিক উৎসের উপর নির্ভর</option>
					<option value="OR">গবেষণা - স্পষ্টতই প্রণেতার দ্বারা তৈরি, এবং তাৎপর্যপূর্ণ প্রচারের কোনও প্রমাণ নেই</option>
					<option value="no footnotes">পাদটীকা নেই - লেখায় কোনো পাদটীকা নেই</option>
					<option value="unreferenced">উৎসহীন - কোনো তথ্যসূত্র নেই</option>
					<option value="rs">নিসূ - নির্ভরযোগ্য সূত্রের অভাব</option>
				</optgroup>
				<optgroup label="বিষয়বস্তু">
					<option value="cv">cv - সন্দেহজনক কপিরাইট লঙ্ঘন (রিপোর্ট করতে অনুগ্রহ করে টুইঙ্কল ব্যবহার করুন)</option>
					<option value="lang">বাংলা নয় - বাংলা ভাষায় লিখা নয়</option>
					<option value="A6">স৬ - অনুবাদ ছাড়াই অন্যান্য উইকিপিডিয়া ভাষার সংস্করণ থেকে অনুলিপি করা হয়েছে</option>
					<option value="npov">npov - নিরপেক্ষভাবে লিখিত নয়</option>
					<option value="G11">স১১ - দ্ব্যর্থহীন বিজ্ঞাপন</option>
					<option value="coi">coi - দ্ব্যর্থহীন স্বার্থের সংঘাত</option>
					<option value="merge">একত্রিত - বিদ্যমান নিবন্ধে একত্রিত করুন</option>
				</optgroup>
			</select>
		<div id="viewDeclineReasons" align="right" style="font-size:12px;">
			<a href="https://bn.wikipedia.org/wiki/Template:AFC_submission/comments">কারণ দেখুন বা সম্পাদনা করুন</a>
		</div>

			<div id="previewWrapper">
				<a id="previewTrigger" class="link" role="button">(পূর্বরূপ দেখুন)</a>
				<div id="previewContainer"></div>
			</div>
		</div>

		<div id="rejectReasonWrapper" class="hidden">
			<select id="rejectReason" class="afch-input text-left" multiple="multiple" data-placeholder="অনুগ্রহ করে ১-২ টি বিকল্প নির্বাচন করুন">
				<option value=""></option>
				<optgroup label="উইকিপিডিয়া কি নয়">
				<option value="neo">dict - যে নিবন্ধগুলো ছোট বা এখনও সাধারণ উল্লেখযোগ্যতা নির্দেশিকা পূরণ করে না</option>
				<option value="OR">OR - বেশিরভাগ বিষয়ই মূল গবেষণা এবং দ্বিতীয় উৎস থেকে যাচাই করা যাচ্ছে না</option>
				<option value="guide">guide - ম্যানুয়াল, কৌশল, পাঠ্যপুস্তক</option>
				<option value="voy">voy - আকর্ষণ, দোকান ইত্যাদির বিস্তারিত তথ্য সহ ভ্রমণ গাইড</option>
			</optgroup>
				<optgroup label="অন্যান্য সাধারণ">
				<option value="N">N - বিষয়টি কখনোই আকর্ষণীয় বলে প্রমাণিত হয়নি</option>
				<option value="G3">স৩ - স্পষ্টত ধ্বংসপ্রবণতা, স্পষ্টত প্রতারণা, ভুল তথ্য, ব্যক্তিগত আক্রমণ ইত্যাদি সহ কিন্তু সীমাবদ্ধ নয়</option>
				<option value="G12">G12 - উত্স উদ্ধৃত না করে, একটি নেতিবাচক দৃষ্টিকোণে লেখা একটি জীবিত ব্যক্তির জীবনী</option>
				<option value="spa">SPA - দ্ব্যর্থহীন বিজ্ঞাপন，বারবার জমার পরও কোনো উন্নতি নেই</option>
				<option value="rs">rs - নির্ভরযোগ্য সূত্র কখনই পাওয়া যায়নি</option>
			</select>
		<div id="viewRejectReasons" align="right" style="font-size:12px;">
			<a href="https://bn.wikipedia.org/wiki/Template:AFC_submission/reject reasons">কারণ দেখুন বা সম্পাদনা করুন</a>
		</div>
		</div>

		<div id="declineInputWrapper">
			<div id="textfieldWrapper" class="afch-option hidden">
				<label for="declineTextfield" class="afch-label"></label>
				<input id="declineTextfield" type="text" class="afch-input afch-textfield" placeholder="" />
			</div>

			<div id="textfieldWrapper2" class="afch-option hidden">
				<label for="declineTextfield2" class="afch-label"></label>
				<input id="declineTextfield2" type="text" class="afch-input afch-textfield" placeholder="" />
			</div>

			<div id="cvUrlWrapper" class="afch-option hidden">
				<label for="cvUrlTextarea" class="afch-label">লঙ্ঘনের উৎসের সংযোগ (প্রতি লাইনে একটি)</label>
				<textarea id="cvUrlTextarea" class="afch-input afch-textfield afch-textarea"
					placeholder="লঙ্ঘনের উৎসের সংযোগ (প্রতি লাইনে একটি)"
					cols="110" rows="3"></textarea>
			</div>

			<textarea id="declineTextarea" class="afch-input afch-textfield afch-textarea"
				placeholder="প্রয়োজনে উইকি সিনট্যাক্স ব্যবহার করে এখানে অতিরিক্ত মন্তব্য যোগ করুন"
				cols="100" rows="5"></textarea>

			<div id="csdWrapper" class="afch-option hidden">
				<input type="checkbox" id="csdSubmission" class="afch-input"/>
				<label for="csdSubmission" class="afch-label">দ্রুত অপসারণ প্রস্তাবনা</label>
			</div>
		</div>

		<div id="rejectInputWrapper" class="hidden">
			<textarea id="rejectTextarea" class="afch-input afch-textfield afch-textarea"
				placeholder="প্রয়োজনে উইকি সিনট্যাক্স ব্যবহার করে এখানে অতিরিক্ত মন্তব্য যোগ করুন"
				cols="100" rows="5"></textarea>
		</div>

		<div id="notifyWrapper" class="hidden">
			<div class="afch-option">
				<input type="checkbox" id="notifyUser" class="afch-input" checked/>
				<label for="notifyUser" class="afch-label">জমাদানকারীকে অবহিত করুন</label>
			</div>
			<div class="afch-option">
				<input type="checkbox" id="inviteToTeahouse" class="afch-input" />
				<label for="inviteToTeahouse" class="afch-label">সাহায্যের জন্য পারস্পরিক সাহায্য বা তাত্ক্ষণিক আলোচনায় আমন্ত্রণ জানান <small>(যারা ইতিমধ্যে এটি পেয়েছেন তাদের জন্য অবৈধ)</small></label>
			</div>
		</div>

		<div id="afchSubmitForm" data-running="খসড়া প্রত্যাখ্যান..." class="gradient-button button-centered decline hidden">খসড়া প্রত্যাখ্যান</div>

	</div>
</div>
<!-- /decline -->

<!-- comment -->
<div class="review-panel comment">
	<div class="header">মন্তব্য...</div>
	<div id="afchContent" class="content centered">

		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="জমা দেওয়া খসড়াতে আপনার মন্তব্য লিখুন (উইকি সিনট্যাক্স ব্যবহার করা যেতে পারে)। স্বাক্ষর স্বয়ংক্রিয়ভাবে যোগ করা হবে।"
			cols="100" rows="5"></textarea>

	<div class="afch-option">
		<input type="checkbox" id="notifyUser" class="afch-input" {{#notifyByDefault}}checked{{/notifyByDefault}} />
		<label for="notifyUser" class="afch-label">জমাদানকারীকে অবহিত করুন</label>
	</div>

		<div id="afchSubmitForm" data-running="পর্যালোচনা জমা দেওয়া হচ্ছে..." class="gradient-button button-centered comment">পর্যালোচনা জমা দিন</div>

	</div>
</div>
<!-- /comment -->

<!-- submit -->
<div class="review-panel submit">
	<div class="header">জমা দেওয়া হচ্ছে...</div>
	<div id="afchContent" class="content centered">
		<label for="submitType" class="afch-label">পরিচয় জমা দিন</label>
		<select id="submitType" class="afch-input">
			{{#customSubmitters}}
			<option value="{{name}}" {{#selected}}নির্বাচিত{{/selected}}>{{description}}</option>
			{{/customSubmitters}}
			<option value="creator">পাতা প্রণেতা</option>
			<option value="self">আপনি</option>
			<option value="other">অন্যান্য</option>
		</select>

		<div id="submitterNameWrapper" class="hidden">
			<input type="text" id="submitterName" class="afch-input afch-textfield" placeholder="ব্যবহারকারী নাম" />
			<div id="submitterNameStatus" class="error"></div>
		</div>

		<div id="afchSubmitForm" data-running="জমা দেওয়া হচ্ছে..." class="gradient-button button-centered submit">জমা দিন</div>

	</div>
</div>
<!-- /submit -->

<!-- postpone-o7 -->
<div class="review-panel postpone-o7">
	<div class="header">স্থগিত করা হচ্ছে...</div>
	<div id="afchContent" class="content centered">
		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="অপসারণ স্থগিত করার জন্য একটি কারণ লিখুন, এটি একটি নতুন মন্তব্য হিসাবে খসড়ায় যোগ করা হবে"
			cols="100" rows="5"></textarea>

		<div id="afchSubmitForm" data-running="Postponing..." class="gradient-button button-centered postpone-o7">
			অপসারণ স্থগিত করুন
		</div>

	</div>
</div>
<!-- /postpone-o7 -->

//</nowiki>
